extends layout.pug

block content
  h1 Conversation List
  p.lead
    | Your conversations are displayed below
  ul
    each conversation in conversations
      li
        img(src='http://graph.facebook.com/' + conversation.participants[0] + '/picture?type=square')
        <b>#{conversation.full.name}</b> #{conversation.snippet}
